/* Main colour  #2E2F42*/
/* secondary colour #434455 */
/* accent #4D5AE5 */


body {font-family: Roboto; 
    text-decoration: none;
   
     }
     :root {
        --line-height: 1.5;
        --primary-text-color: #2E2F42;

     }
     
     .list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
     h1,h2,h3,h4,h5,h6,p {
        margin: 0;
        padding: 0;
     }
      ul {
        margin: 0;
    padding: 0;
      }

   .button { 
    cursor: pointer;
   }
   img {
    display: block;
   }
   
     
/* Header */

.head-total {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}


.container {
 width: 1158px;
  
   padding-left:  15px;
    padding-right:  15px;
  margin-left: auto;
  margin-right: auto;
    outline: 1px solid red;
    
}


.accent {
    color: #4D5AE5;
}
.logo .link {
    
margin-right: 76px;
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--primary-text-color); 
}
   

.menu-list .point   {
display: block;

padding-top: 24px;
padding-bottom: 24px;

font-weight: 500;
font-size: 16px;
line-height: var(--line-height);
text-decoration: none;
color: var(--primary-text-color);
}
.menu-list li:not(:last-child) {
    margin-right: 40px;
}


.menu-list {
    display: flex;
    
}
.address {
    display: flex;
    align-items: center;
    
    margin-left: auto;
    
}

.address .item + .item{
    margin-left: 40px;
    
}

.address .link {
  
font-style: normal;
font-size: 16px;
line-height: var(--line-height);
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}



/* Buttoms */


.btm-list {
  justify-content: center;
  font-weight: 500;
  padding-top: 96px;
  padding-bottom: 72px;
  margin-right: 24px;
  margin-bottom: 72px;

font-size: 16px;
line-height: var(--line-height);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;

}
.btm-accent {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-height);
    border-radius: 4px;

    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    
   
    display: flex;
    align-items: center;
   text-align: center;
    color: #4D5AE5;    
    background: #F4F4FD
    
}
.btm-list :hover,
.btm-list :focus{
    color: #FFFFFF;
    background: #4D5AE5
}
.click {
padding: 16px 32px;

margin-left: auto;
margin-right: auto;
justify-content: center;

border-radius: 4px;

font-weight: 500;
font-size: 16px;
line-height: var(--line-height);
display: flex;
align-items: center;
letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5
    
}

.order-button {
    padding-bottom: 188px;
    padding-left: auto;
    padding-right: auto;
}

.goals {
   justify-content: center;
  padding-top: 120px;
    padding-bottom: 120px;
}

.content {
   
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}


.direction {
  max-width: 264px;
font-size: 16px;
line-height: var(--line-height);
letter-spacing: 0.02em;
color: #434455;
}

.list {

 display: flex;
align-items: center;
flex-basis: calc((100%-72)/4);
  gap: 24px;
}


.list:not(:last-child) {
gap: 24px;
}


.hero {
   padding-top: 188px;
   padding-bottom: 188px;
   
    text-align: center;
}

.device {
    margin-bottom: 120px;
 
}
.main-title {
   margin-top: 0;
   margin-bottom: 48px;
   padding-top: 188px;



font-weight: 700;
font-size: 56px;
line-height: 1.07;

    color: #434455;
}

.people {
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;
}
.people-list {
     gap: 24px;  
    justify-content: center;
  flex-direction: row;
   
  
}
.people-description {
    padding-top: 32px;
    padding-right: 8px;
    padding-bottom: 32px;
    padding-left: 8px;
   text-align: center;
}


.title {
    margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;

color: var(--primary-text-color);
}


.card  {

box-sizing: border-box;
        padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card .pic {
     flex-basis: calc((100%-144px) / 9);  
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;

 }

 .card-content {
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px;
 }
 .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
 }


/* Footer */
.logofooter {
margin-bottom: 16px;

font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
color: #F4F4FD;
}
.mission {
font-size: 16px;
line-height: var(--line-height);
letter-spacing: 0.02em;
color: #E7E9FC;
}
.under {
    padding-top: 100px;
    padding-right: auto;
    padding-bottom: 100px;
    
}

